@font-face {
    font-family: Navigation;
    src: url(fonts/Navigation.ttf);
}

@font-face {
    font-family: Source;
    src: url(fonts/fontick.otf);
}

nav {
    background: #2C2F33;
    display:  inline;
    margin: auto;
}

body,
ul.nav {
    margin: 0;
    padding: 0;
    hyphens: auto;
}

ul.nav {
    display: flex;
}

body
{
    background-color: #2C2F33;
}
ul.nav li {
    font-family: Navigation, "Times New Roman";
    list-style-type: none;
    flex-basis: auto;
    font-weight: bolder;
    flex-grow: 1;
    background: #7289DA;
    text-align: center;
}
ul.nav li a {
    padding: 20px 0;
    text-decoration: none;
    color: #FFFFFF;
    display: block;
}

section {
    padding-top: 100px;
    color: #FFFFFF;
    list-style-type: none;
    font-family: Source;
    text-align: center;
    margin: auto;
}

ul {
    list-style-type: none;
}

section h1{
    text-decoration: underline;
}
section ul span{
    background: rgba(255, 255, 0, 0.5);
    text-transform: uppercase;
}

main {
    min-height: calc(100vh - 70px);
}

ul.nav li a.active{
    color:  rgb(0, 29, 73);
    text-decoration: none;
}

q {
    line-height: 150%;
    text-indent: hanging;
    letter-spacing: -1px;
    text-decoration-style: solid;
}

ul.nav li a:hover{
    color: rgb(0, 13, 255);
}

footer {
    height: 70px;
    background: #535559;
    width: 100%;
    align-content: center;
    justify-content: center;
    display: flex;
}
div#footnote {
    margin: 0 auto;
}

.main-carousel {
    margin: auto;

}
.main-carousel img {
    display: block;
    width: 400px;
    height: auto;
}
.flickity-enabled {
    width: 400px;
}

blockquote {
    text-decoration: underline;
}

/* position dots in carousel */
.flickity-page-dots {
    bottom: 0px;
}
/* white circles */
.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    background: white;
}

