@font-face {
    font-family: Navigation;
    src: url(fonts/Navigation.ttf);
}

@font-face {
    font-family: Source;
    src: url(fonts/fontick.otf);
}

nav {
    background: #2C2F33;
    display:  inline;
    margin: auto;
}

body,
ul.nav {
    margin: 0;
    padding: 0;
    hyphens: auto;
}

ul.nav {
    display: flex;
}

body
{
    background-color: #2C2F33;
}

ul.nav li {
    font-family: Navigation, monospace;
    list-style-type: none;
    flex-basis: auto;
    font-weight: bolder;
    flex-grow: 1;
    background: #7289DA;
    text-align: center;
}
ul.nav li a {
    padding: 20px 0;
    text-decoration: none;
    color: #FFFFFF;
    display: block;
}


section {
    color: #FFFFFF;
    list-style-type: none;
    font-family: Source, monospace;
    margin: auto;
    text-align: center;
    padding-top: 200px;
    align-content: center;
}

ul.nav li a.active{
    color:  rgb(0, 29, 73);
    text-decoration: none;

}

ul.nav li a:hover{
    color: rgb(0, 13, 255);
}

ul {
    list-style-type: none;
}

main {
    min-height: calc(100vh - 70px);
}

footer {
    height: 70px;
    background: #535559;
    width: 100%;
    align-content: center;
    justify-content: center;
    display: flex;
}


div.footnote {
    margin: 0 auto;
}